@font-face {
  font-family: "Figtree";
  font-weight: 300 900;
  font-style: normal;
  src:
    url(../assets/fonts/Figtree/Figtree-VariableFont_wght.woff2) format("woff2"),
    url(../assets/fonts/Figtree/Figtree-VariableFont_wght.woff) format("woff");
}

h1 {
  font-family: "Figtree";
  font-weight: 800;
  font-size: 56px;
  color: white;
}

.footer_text{
  font-family: "Figtree";
  font-weight: 400;
  color: var(--grey_color);
  font-size: 14px;
}