@font-face {
  font-family: "Figtree";
  font-weight: 300 900;
  font-style: normal;
  src:
    url(../assets/fonts/Figtree/Figtree-VariableFont_wght.woff2) format("woff2"),
    url(../assets/fonts/Figtree/Figtree-VariableFont_wght.woff) format("woff");
}