:root {
  --background_general: #06171e;
  --background_secondary: #09212a;
  --grey_color: #99ACB3;
  --thumbnail_border_color: #124658;
  --thumbnail_border_color_active: #8732f8;
  --dialog_direction_button_background: #21272E;
  --dialog_direction_button_active: #372528;
  --dialog_x_button_hover: #0D3240;
  --dialog_x_button_active: #124658;
}